.container {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.home-wrapper {
  max-width: 920px;
}

.home-card {
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--card-bg-color);
}

.user-info {
  cursor: pointer;
  text-decoration: none;
}
